authMethod: internal

authInternalUsers:
  # Owner
  - user: streamer
    pass: ${STREAMER_PASSWORD}
    permissions:
${PUBLISH_PERMISSIONS}

  # Frens only when not using nginx
#  - user: viewer
#    pass:
#    permissions:
#      - action: read
#        path: desktop

  # Frens through magic of nginx
  - user: any
    pass:
    permissions:
${READ_PERMISSIONS}

  # API local only
  - user: any
    pass:
    ips:
      - 127.0.0.1
      - ::1
    permissions:
      - action: api
      - action: metrics
      - action: pprof

webrtc: true
webrtcAddress: :8889
webrtcLocalUDPAddress: :8189

webrtcIPsFromInterfaces: true
webrtcTrustedProxies: ${WEBRTC_TRUSTED_PROXIES}

webrtcAdditionalHosts: ${WEBRTC_ADDITIONAL_HOSTS}

paths:
${PATHS}